// article overview styling start

#articles {

  /*Overskrift med billede til artikel*/
  // kan ikke finde .headerImage
  .headerImage {
    width: 70%;
    height: 550px;
    object-fit: cover;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  .titleSection {
    width: 30%;
    margin-right: 80px;
    margin-bottom: 150px;
  }

  /*Content til artiklen med billeder*/
  .container {
    width: 300px;
    height: 400px;
    background: #e6e6e6a3;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 10px 11px -10px rgba(0, 0, 0, 0.57);

    .content {
      padding: 0.2rem;

      h2 {
        margin: 0.3rem;
      }

      p {
        padding: 1rem;
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }

  img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    justify-content: center;
  }

  section {
    margin: 1rem 0;
    display: flex;
    gap: 0.8rem 0.5rem;
    flex-wrap: wrap;
  }


  //Øverste artikel
  a {
    text-decoration: none;
  }

  .mainImage {
    position: relative;
    margin-bottom: 100px;

    img {
      width: 100%;
      height: 600px;
    }
  }

  .overlayTopArticle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 0px 10px 10px 0px;
  }

  //To features og en større artikel
  .boxLayout {
    display: flex;
    margin-bottom: 100px;
  }

  .leftArticleBoxes {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding-right: 20px;
    height: 600px;

    h2 {
      margin-top: 0;
    }
  }

  .rightArticleBox {
    display: flex;
    width: 60%;
    position: relative;

    img {
      width: 100%;
      height: 700px;
    }
  }

  .overlayRightBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 10px 0;
  }

  .box {
    display: flex;
    margin: 2rem 0;

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  .textContent {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    h2 {
      font-size: 1.5rem;
    }
  }

  //To store artikler
  .containerMiddelArticle,
  .containerBottomArticle {
    margin-bottom: 100px;
  }

  .overlayMiddelArticle {
    position: absolute;
    bottom: 4.5px;
    right: 0;
    width: 35%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 10px 0;
  }

  .overlayBottomArticle {
    position: absolute;
    bottom: 4.5px;
    left: 0;
    width: 35%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 0 10px;
  }

  //Række af artikler i bunden
  .imageRow {
    display: flex;
    gap: 30px;

    img {
      width: 100%;
    }

    h2 {
      color: var(--text-color);
      font-weight: lighter;
    }
  }

  .containerSmallArticle {
    display: flex;
    height: auto;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      width: 55%;
      height: 40%;
    }

    h2{
      margin-top: .5rem;
      font-size: 1.5rem;
    }
  }

}

// article overview styling end