// Homepage styling start

#homepage {

  h2 {
    font-weight: 300;
    font-size: clamp(1.5rem,
        5vw,
        3rem);
    padding-top: 2rem;
    margin-bottom: 1rem;
  }

  .center {
    text-align: center;

    p {
      font-size: 1rem;
      margin-bottom: 3rem;
    }
  }

  .category-cards {
    display: flex;
    gap: 5rem;
    text-align: center;
    justify-content: center;
  }

  .category-cards article {
    position: relative;
  }



  .homepage-img-container img {
    height: 300px;
    width: 200px;
    border-radius: 10px;
  }

  .category-cards {

    article button {
      cursor: pointer;
      text-align: center;
      position: absolute;
      transform: translateX(-50%);
      bottom: -10px;
      font-family: "Playfair Display", serif;
      border: none;
      color: var(--interactive-elements-color);
      background-color: var(--text-color);
      border-radius: 10px;
      height: 2rem;
      padding-inline: 1rem;
      border: 1px solid var(--interactive-elements-color);
      white-space: nowrap;

      &:hover {
        color: var(--text-color);
        background-color: var(--interactive-elements-color);
      }
    }
  }



  .circular-category-cards {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  .circular-category-cards h3 {
    font-weight: 300;
    font-size: .8rem;
    margin-top: 0.3rem;
  }

  .circular-category-cards img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }



  .center-div {

    text-align: center;
  }


  .recipe-cards {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }

    div {
      position: relative;
    }

    svg {
      position: absolute;
      bottom: -5px;
      transform: translateX(-55%);
      z-index: 2;

    }

    h3 {
      font-weight: 400;
      margin-top: .1rem;
      margin-bottom: 0;
      font-size: 1rem;
    }

    article {
      max-width: 200px;
    }
  }

  .popular-recipes {
    margin: 2rem auto;
    text-align: center;
  }

  .recent-food-stories {
    position: relative;

    svg {
      position: absolute;
      bottom: 30px;
      transform: translateX(-130%);
    }
  }

  .Add_to_favorites {
    cursor: pointer;
  }
}

// Homepage styling slut