
// body {
//   margin-left: 20vw;
//   background-color: var(--background-color);
// }
/*Overskrift med billede til artikel*/

#singleArticle {
  main {
    width: 70vw;
    margin: auto;
  }
}
.header {
  display: flex;
}

.headerImage {
  width: 70%;
  height: 550px;
  object-fit: cover;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}
.titleSection {
  width: 30%;
  margin-right: 80px;
}
/*Content til artiklen med billeder*/
.content-wrapper {
  margin-right: 250px;
}
.mainContent img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.mainContent section {
  margin-bottom: 75px;
}
/*Skip to section*/
.navigationContent {
  display: flex;
}
.skipTo {
  width: 30%;
  margin-right: 200px;
}
.skipTo a{
    text-decoration: none;
    color: var(--text-color);
}
.skipTo ul{
    list-style-type: none;
    padding: 0;
}
.skipTo ul a{
    display: block;
    margin-bottom: 20px;
}
.mainContent {
  width: 70%;
}

/*Other also read*/
.relatedArticles {
  display: flex;
  margin-top: 40px;
}
.relatedArticle img {
  width: 90%;
  height: 250px;
  object-fit: cover;
}
.relatedArticle {
  flex: 1;
  position: relative;
}
.relatedArticle svg {
  position: absolute;
  bottom: 45px;
  right: 30px;
  z-index: 10;
}
