/*Overskrift med billede til artikel*/

#singleArticle {

  /*Overskrift med billede til artikel*/
  .header {
    display: flex;
  }

  .headerImage {
    width: 70%;
    height: 550px;
    object-fit: cover;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  .titleSection {
    width: 30%;
    margin-right: 80px;
    margin-bottom: 150px;
  }

  /*Content til artiklen med billeder*/
  .contentWrapper {
    margin-right: 250px;
  }

  .mainContent {
    width: 70%;

    img {
      border-radius: 10px;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    section {
      margin-bottom: 75px;
    }
  }

  /*Skip to section*/
  .navigationContent {
    display: flex;
  }

  .skipTo {
    width: 30%;
    margin-right: 200px;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    ul {
      list-style-type: none;
      padding: 0;

      a {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  /*Other also read*/
  .relatedArticles {
    display: flex;
    margin-top: 40px;

    img {
      width: 90%;
      height: 250px;
      object-fit: cover;
    }

    svg {
      position: absolute;
      bottom: 45px;
      right: 30px;
      z-index: 10;
    }
  }

  .relatedArticle {
    flex: 1;
    position: relative;
  }
}