// Single Recipe styling start

#singleRecipe {
  // body section
  background: var(--background-color);

  h2 {
    font-family: 'Playfair Display';
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  // header section
  header {
    background-color: var(--nav-color);

    a,
    span {
      color: var(--text-color);
      transition: color 0.2s;

      &:hover {
        color: var(--interactive-elements-color);
      }
    }

  }

  // main section
  main {
    width: 70vw;
    margin: auto;
  }

  // breadcrumb section
  .breadcrumbs {
    margin: 2rem 0;

    #currentPage {
      font-weight: bold;
    }

    ol {
      font-family: "Merriweather";
      font-size: 12px;
      padding: 0;
      display: flex;
      list-style: none;
      color: var(--text-color);
      gap: .5rem;

      li {
        display: flex;
        gap: .5rem;
        align-items: center;
      }

      a {
        margin: 0;
        text-decoration: none;
        color: var(--text-color);
        transition: color 0.2s;

        &:hover {
          color: var(--interactive-elements-color);
        }
      }

      p {
        margin: 0;
        display: inline;
      }
    }
  }

  // recipe overview section
  section.recipeOverview {
    margin: 0;
    color: var(--text-color);
    display: flex;

    #recipeImg {
      margin: 0 auto;
      height: 50%;
      width: 49%;
      border-radius: 10px;
    }

    .recipeInfo {
      margin: 0;
      width: 50%;

      .recipeAuthor {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          object-fit: cover;
        }
      }

      .recipeQuickStats {
        display: flex;
        gap: .5rem;
        margin-right: 3rem;

        .quickStats {
          background: var(--nav-color);
          padding: 1rem;
          height: 150px;
          width: 200px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            font-size: 20px;
          }

          span {
            font-family: 'Playfair Display';
            font-size: 40px;
            font-weight: bold;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  // ingredient list section
  section.ingredients {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .ingredientList {
      padding: 0;
      margin: 0;
      list-style-type: none;
      color: var(--text-color);

      li {
        font-size: 20px;
      }

      .amountIngredient {
        background: var(--interactive-elements-color);
        color: var(--text-color);
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 35px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        border: 2px solid var(--text-color);
        margin: .5rem .5rem .5rem 0;
        letter-spacing: 1px;
      }
    }
  }

  // method list section
  section.method {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .methodList {
      margin: 0;
      padding: 0;
      color: var(--text-color);
      list-style: none;

      li {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        font-size: 20px;
        margin: 2rem 0;

        .methodStep {
          grid-column: 1;
          background: var(--interactive-elements-color);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: 2px solid var(--text-color);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .instruction {
          grid-column: 2;
          max-width: 80ch;
          word-wrap: break-word;
        }
      }
    }

  }

  // others also read section
  aside.suggestions {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    width: 360px;

    h2 {
      font-size: 35px;
    }

    .recipeContainer {
      color: var(--text-color);
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .unitType {

        span {
          color: rgba(251, 249, 249, 0.7);
          margin: 0 .5rem;
        }
      }

      #selected {
        color: var(--text-color);
      }
    }

    article {
      margin: 0;

      h3 {
        margin: 0 0 1rem 0;
      }

      img {
        width: 350px;
        height: 220px;
        border-radius: 10px;
        margin: 0;
      }
    }

  }

  footer {
    margin: 3rem;
    color: var(--background-color);
  }
}

// Single Recipe styling end